<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>weekday</key>
	<dict>
		<key>dataset</key>
		<array>
			<dict>
				<key>departure</key>
				<string>9:13</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>9:55</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>10:38</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>11:01</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>11:48</string>
				<key>destination</key>
				<string>函館税務署入口</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>12:03</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>12:44</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>13:24</string>
				<key>destination</key>
				<string>函館税務署入口</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>14:22</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>14:43</string>
				<key>destination</key>
				<string>函館税務署入口</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>15:22</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>16:04</string>
				<key>destination</key>
				<string>函館税務署入口</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>16:47</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>17:42</string>
				<key>destination</key>
				<string>昭和ターミナル</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>17:45</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>18:11</string>
				<key>destination</key>
				<string>函館税務署入口</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>18:47</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>19:31</string>
				<key>destination</key>
				<string>昭和ターミナル</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>20:01</string>
				<key>destination</key>
				<string>昭和ターミナル</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>20:24</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>21:07</string>
				<key>destination</key>
				<string>昭和ターミナル</string>
			</dict>
		</array>
	</dict>
	<key>holiday</key>
	<dict>
		<key>dataset</key>
		<array>
			<dict>
				<key>departure</key>
				<string>8:35</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>9:21</string>
				<key>destination</key>
				<string>函館税務署入口</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>10:33</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>11:00</string>
				<key>destination</key>
				<string>函館税務署入口</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>11:56</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>12:36</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>13:19</string>
				<key>destination</key>
				<string>函館税務署入口</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>15:29</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>16:18</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>17:25</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>18:50</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
			<dict>
				<key>departure</key>
				<string>20:23</string>
				<key>destination</key>
				<string>函館駅前</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
